@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #1A0033; /* Dark purple background */
  --foreground: #FFFFFF; /* White foreground for text */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A0033;
    --foreground: #FFFFFF;
  }
}

body {
  padding: 0;
  background: radial-gradient(circle at center, #05000F 0%, #15002A 100%);
  background-attachment: fixed;
  color: var(--foreground);
  font-family: var(--font-sans);
}
